<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>banking-app</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
	<error-page>
	    <error-code>404</error-code>
	    <location>/errorpage.html</location>
	</error-page>
	
	<servlet>
		<servlet-name>bankstatement</servlet-name>
		<servlet-class>bankstatement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bankstatement</servlet-name>
		<url-pattern>/bankstatement</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>loginpage</servlet-name>
		<servlet-class>loginpage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginpage</servlet-name>
		<url-pattern>/loginpage</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>movingmoney</servlet-name>
		<servlet-class>movingmoney</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>movingmoney</servlet-name>
		<url-pattern>/movingmoney</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>payee</servlet-name>
		<servlet-class>payee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payee</servlet-name>
		<url-pattern>/payee</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>profile</servlet-name>
		<servlet-class>profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>transfers</servlet-name>
		<servlet-class>transfers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>transfers</servlet-name>
		<url-pattern>/transfers</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>about</servlet-name>
        <jsp-file>/about.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>privacypolicy</servlet-name>
        <jsp-file>/privacypolicy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>privacypolicy</servlet-name>
        <url-pattern>/privacypolicy</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>contactus</servlet-name>
        <jsp-file>/contactus.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>contactus</servlet-name>
        <url-pattern>/contactus</url-pattern>
    </servlet-mapping>
	
  
</web-app>